*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

#todoApp{
     
    width: 500px;
    height: 500px;
    margin: 60px auto;
    padding: 20px;
    /* background: linear-gradient(  rgb(0, 221, 255), rgb(255, 255, 255)); */
    background: linear-gradient(to left,  black, rgb(255, 255, 255));
    border-radius: 20px;
    box-shadow: 1px 1px 5px black;
}

#inputBox{
    width: 70%;
    height: 50px;
    border-radius: 10px;
    font-size: 30px;
}

button{
    background: linear-gradient(rgb(151, 210, 255),rgb(165, 212, 255));
    height: 50px;
    width: 100px;
    border-radius: 50%;
    font-size: 20px;
    color: gold;
    font-weight: 700;
    transition: transform 0.2s;
}


.eachList{
    display: flex;
    align-items: baseline;
    gap: 10px;
    justify-content: space-between;
 
     
}

#list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    
}

.eachList p{
    font-size: 20px;
    font-weight: 400;
}
button:hover{
    transform: scale(0.9);
    
}

 
 